# Editor
*~
*.swp

# Build files
Prj-Linux/lpr/TEST_*
Prj-Linux/*build*/
*.pyc
/Prj-PHP/build

Prj-Win/.vs/
Prj-Win/bin/
Prj-Win/obj/
Prj-Win/x64/
Prj-Win/Build/
Prj-Win/Prj-Win/bin/
Prj-Win/Prj-Win/obj/
Prj-Win/Prj-Win/x64/

Prj-Win/HyperLPR.Demo/bin/
Prj-Win/HyperLPR.Demo/obj/
Prj-Win/HyperLPR.Demo/x64/

Prj-Win/libhyperlpr_cw/bin/
Prj-Win/libhyperlpr_cw/obj/
Prj-Win/libhyperlpr_cw/x64/

*.dll
